.line {
  width: 355px;
  height: 60px;
  position: absolute;
  right: calc(-405px + 275px);
  bottom: 60px;
  transform: skew(40deg);

  border-image-source: linear-gradient(to right, rgba(255 255 255 / 10%) 0%, rgba(255 255 255 / 60%) 100%);
  border-image-slice: 0 0 1 1;
  border-image-width: 1px;

  &::after {
    width: 3px;
    height: 3px;
    content: '';
    position: absolute;
    right: -4px;
    bottom: -3px;
    border-radius: 50%;
    border: 2px solid rgba(255 255 255 / 60%);

    transform: skew(-40deg);
  }
}


@media(max-width: 1200px) {
  .line {
    bottom: -25px;
    right: -160px;
    width: 275px;
    height: 40px;
  }
}

@media(max-width: 960px) {
  .line {
    bottom: -40px;
    right: -123px;
    width: 260px;
    height: 42px;
  }
}
