@import 'reset';
// @import 'constants';

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/ofont.ru_Museo Sans Cyrl 100.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/ofont.ru_Museo Sans Cyrl 300.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/ofont.ru_Museo Sans Cyrl 700.ttf');
  font-weight: 700;
}

html {
  font-family: "Museo";
}



// .header {
//   height: $header-height;

//   display: flex;
//   justify-content: space-between;

//   position: relative;
// }


// @media(max-width: 1440px) {
//   .header {
//     height: vw-value($header-height, 1440px);
//   }
// }

// @media(max-width: 420px) {
//   .header {
//     height: vw-value(50px, 400px);
//     align-items: center;
//     justify-content: space-between;

//     flex-direction: row-reverse;
//   }
// }
