@import 'reset';

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/ofont.ru_Museo Sans Cyrl 100.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/ofont.ru_Museo Sans Cyrl 300.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/ofont.ru_Museo Sans Cyrl 700.ttf');
  font-weight: 700;
}

html {
  font-family: "Museo";
}
