@import '../../styles/constants';

.title {
  margin-top: 77px;
  position: relative;

  &__text {
    background: linear-gradient(to right, rgba(255 255 255 / 100%), rgba(255 63 4 / 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;

    --mask: radial-gradient(385px at 755px 210px,#0000 100%,#000);
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }

  &__content {
    & + & {
      margin-top: 87px;
    }
  }

  &__h1 {
    @include set-font-size(58px, 58px, 700);
    text-transform: uppercase;
    width: inherit;
  }

  &__h3 {
    @include set-font-size(25px, 25px, 300);
    width: inherit;
  }

  &__link {
    color: rgba(255 255 255 / 100%);
    border-image-source: linear-gradient(190deg, rgba(38 62 102 / 100%) 0%, rgba(9 33 61 / 100%) 45%, rgba(17 31 35 / 100%) 65%, rgba(35 89 165 / 100%) 100%);
    border-image-width: 1px;
    border-image-slice: 1;

    display: block;
    width: 180px;
    height: 35px;
  }
}

.border {
  @extend %full-size;

  border: 1px solid transparent;

  position: relative;

  @extend %flex-justify-center;
  align-items: center;

  &:hover {
    background-color: rgba(255 255 255 / 5%);
  }

  &:hover &__corner {
    box-shadow: 0px 0px 3px 1px rgba(255 255 255 / 100);

    &::after {
      box-shadow: 0px 0px 3px 1px rgba(255 255 255 / 100);
    }
  }

  &__corner {
    display: block;
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: #fff;

    &::after {
      @extend %full-size;
      position: absolute;
      content: '';
      background-color: #fff;
      transform: rotate(90deg);
    }

    &_topright {
      top: -1px;
      right: -1px;

      &::after {
        top: 4px;
        right: -4px;
      }
    }

    &_botleft {
      bottom: -1px;
      left: -1px;

      &::after {
        bottom: 4px;
        left: -4px;
      }
    }

    &__link {
      width: vw-value(180px, $content-max-width);
      height: vw-value(35px, $content-max-width);
    }
  }
}

@media(max-width: 1440px) {
  .title {
    margin-top: vw-value(77px, 1440px);

    &__text {
      --mask: radial-gradient(26.736vw at 52.43vw 14.58vw,#0000 100%,#000);
    }

    &__content {
      & + & {
        margin-top: vw-value(87px, 1440px);
      }
    }

    &__h1 {
      @include set-font-size(4.03vw, 4.03vw, 700);
    }

    &__h3 {
      @include set-font-size(1.736vw, 1.736vw, 300);
    }
  }
}


@media(max-width: 1350px) {
  .title {
    &__text {
      --mask: radial-gradient(26.736vw at 52.4vw 14.58vw,#0000 100%,#000);
    }
  }
}


@media(max-width: 1200px) {
  .title {
    &__text {
      --mask: radial-gradient(31vw at 53vw 15.2vw,#0000 100%,#000);
    }

    &__h1 {
      @include set-font-size(3.5vw, 3.5vw, 700);
    }

    &__h3 {
      @include set-font-size(1.25vw, 1.25vw, 300);
    }

    &__content {
      & + & {
        margin-top: vw-value(200px, 1200px);
      }
    }
  }
}

@media(max-width: 960px) {
  .title {
    &__h3 {
      @include set-font-size(1.4vw, 1.4vw, 300);
    }

    &__content {
      & + & {
        margin-top: vw-value(135px, 960px);
      }
    }
  }
}

@media(max-width: 420px) {
  .title {
    &__content {
      margin: 0 auto;
      position: relative;

    }

    &__text {
      -webkit-mask: unset;
      mask: unset;
    }

    &__h1 {
      font-size: 40px;
      line-height: 40px;
    }

    &__h3 {
      font-size: 16px;
      line-height: 16px;
    }

    &__link {
      position: absolute;
      bottom: -60vh;
      transform: translateX(-50%);
      left: 50%;

      font-size: 20px;
      line-height: 20px;

      width: 250px;
      height: 50px;
    }
  }

  .border {
    & &__corner {
      box-shadow: 0px 0px 3px 1px rgba(255 255 255 / 100);
    }
  }
}
