@import '../../styles/constants';

.title {
  margin-top: calc(115px - 38px);
  position: relative;

  &__text {
    background: linear-gradient(to right, rgba(255 255 255 / 100%), rgba(255 63 4 / 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;

    --mask: radial-gradient(385px at 755px 210px,#0000 100%,#000);
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }

  &__content {
    & + & {
      margin-top: 87px;
    }
  }

  &__h1 {
    @include set-font-size(58px, 58px, 700);
    text-transform: uppercase;
    width: inherit;
  }

  &__h3 {
    @include set-font-size(25px, 25px, 300);
    width: inherit;
  }

  &__link {
    color: rgba(255 255 255 / 100%);
    border-image-source: linear-gradient(190deg, rgba(38 62 102 / 100%) 0%, rgba(9 33 61 / 100%) 45%, rgba(17 31 35 / 100%) 65%, rgba(35 89 165 / 100%) 100%);
    border-image-width: 1px;
    border-image-slice: 1;

    display: block;
    width: 180px;
    height: 35px;
  }
}

.border {
  @extend %full-size;

  border: 1px solid transparent;

  position: relative;

  @extend %flex-justify-center;
  align-items: center;

  &:hover {
    background-color: rgba(255 255 255 / 5%);
  }

  &:hover &__corner {
    box-shadow: 0px 0px 3px 1px rgba(255 255 255 / 100);

    &::after {
      box-shadow: 0px 0px 3px 1px rgba(255 255 255 / 100);
    }
  }

  &__corner {
    display: block;
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: #fff;

    &::after {
      @extend %full-size;
      position: absolute;
      content: '';
      background-color: #fff;
      transform: rotate(90deg);
    }

    &_topright {
      top: -1px;
      right: -1px;

      &::after {
        top: 4px;
        right: -4px;
      }
    }

    &_botleft {
      bottom: -1px;
      left: -1px;

      &::after {
        bottom: 4px;
        left: -4px;
      }
    }
  }
}
